/*
Colors:
smokey black: 08090A
quick silver: A7A2A9
white smoke: F4F7F5
davy's grey: 575A5E
raisin black: 222823
purple: B7ADCF
*/
*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  height:100%;
  width:100%;
  overflow-x:hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.2em;
}

/* main navbar css styles */

.main-nav-bar .nav-btn{
  height:5vh;
  background:#F4F7F5;
}

.nav-btn button{
  height:5vh;
  width:10%;
  border:none;
  background:#F4F7F5;
}

.profile-icon{
  display:none;
}

.header{
  height:100vh;
  width:100vw;
  background:#B7ADCF;
}

.main-nav-bar{
  height:100%;
}

.nav_li{
  height:23.75vh;
  background:#F4F7F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center;
  line-height:23.75vh;
}

.header a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration:none;
  color:#08090A;
}

.hide{
  visibility:hidden;
}

.main-nav-bar .show{
  visibility:visible;
}

/* header info sstyles */
.header-info{
  text-align:center;
  height:45vh;
  width:100vw;
  position:absolute;
  top:50%;
}

.header-info h1, h3{
  padding:10px;
}

.header-info h1{
  font-size:3em;
  color:#F4F7F5;
}

.header-info h3{
  font-size:2em;
  font-weight:lighter;
  color:#575A5E;
}

/* end */

/*main section styles*/

.portfolio-section{
  height:200vh;
  width:100vw;
  background:red;
}

.section-one, .section-two{
  height:50vh;
  background:#F4F7F5;
}
.img-1{
  display:block;
  height:90%;
  width:100%;
  background:#575A5E;
}
.img-2{
  display:block;
  height:90%;
  width:100%;
  background:#575A5E;
}
.section-three, .section-four{
  height:47vh;
  background:#F4F7F5;
}
.show-more-port{
  height:6vh;
  background:#08090A;
  text-align:center;
}

.sections h3{
  text-align:center;
  font-size:1em;
  color:#08090A;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
}

.show-more-port a{
  line-height:6vh;
  text-decoration:none;
  text-transform:uppercase;
  color:#F4F7F5;
  transition:1s;
}
.show-more-port a:hover{
  text-decoration:underline;
}

.header-a{
  text-decoration:none;
}
.header-a:hover{
  text-decoration:underline;
}
/*end*/

/* footer styles */

.main-footer{
  height:100vh;
  width:100%;
}

.footer-info{
  height:45vh;
  background:#575A5E;
  text-align:center;
  color:#F4F7F5;
}

.footer-info h2{
  font-size:2em;
  text-transform:uppercase;
}
.footer-info h3{
  font-size:1em;
}

.footer-links{
  height:50vh;
  background:#575A5E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-copy{
  display:block;
  height:5vh;
  background:#08090A;
  text-align:center;
  color:#F4F7F5;
  font-size:0.5em;
}
/* end */
