*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  height:100%;
  width:100%;
  overflow-x:hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.2em;
}

/* main navbar css styles */

.main-nav-bar .nav-btn{
  height:5vh;
  background:#40434E;
}

.nav-btn button{
  height:5vh;
  width:10%;
  border:none;

}

.profile-icon{
  display:none;
}

.header{
  height:100vh;
  width:100vw;
  background:red;
}

.main-nav-bar{
  height:100%;
}

.nav_li{
  height:23.75vh;
  background:#702632;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:center;
  line-height:23.75vh;
}

.header a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration:none;
  color:#080705;
}

.hide{
  visibility:hidden;
}

.main-nav-bar .show{
  visibility:visible;
}


/* end */
